/********************** BACIS SETUP **********************/
html {
  font-family: 'Raleway', sans-serif;
  background: #ececec; }
  html * {
    -webkit-tap-highlight-color: transparent; }

.poly-background-upper, .poly-background-lower {
  position: fixed;
  top: -200px;
  width: 100vw;
  height: auto; }

.poly-background-upper {
  z-index: -1; }

.poly-background-lower {
  z-index: -2; }

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 3em; }

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-right: 1em;
  margin-bottom: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px; }

a {
  text-decoration: none;
  padding: 0;
  margin: 0; }

.main h1 {
  padding: 1em 0;
  margin: 0 1em;
  letter-spacing: 5px; }

.info {
  width: 80vw;
  margin: 0 auto;
  padding: 0 1em; }
  .info p:first-of-type {
    padding-top: 2em; }
  .info p:last-of-type {
    padding-bottom: 2em; }

.box {
  background: linear-gradient(to bottom, rgba(30, 39, 117, 0.6), rgba(62, 79, 238, 0.25));
  border-radius: 3px;
  box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.5); }

.links {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .links a {
    text-transform: uppercase;
    color: black;
    padding: 1em .5em;
    width: 33%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25); }
    .links a:hover {
      background: rgba(255, 255, 255, 0.15); }
    .links a.active {
      background: rgba(255, 255, 255, 0); }

.section-h1 {
  position: relative; }
  .section-h1.no-click {
    pointer-events: none; }
  .section-h1 h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1; }
  .section-h1 .beetle-pos {
    background: #192061;
    margin: 0 auto;
    position: relative;
    clip-path: circle(25vw at 50% 50%); }
    .section-h1 .beetle-pos svg {
      width: 75%;
      display: block;
      margin: 0 auto; }
      .section-h1 .beetle-pos svg path {
        fill: #2e3bb2; }

/********************** HEADER SECTION **********************/
.header {
  position: fixed;
  right: -5px;
  top: -5px;
  width: 55px;
  height: 55px;
  padding: 10px;
  background: #1e2775;
  border-radius: 50%;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .header .nav-buttons {
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer; }
  .header.full {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    background: #0e1338; }
  .header #beetle-icon {
    width: 30vw;
    height: auto;
    fill: white; }
  .header #beetle-icon-path {
    fill: white; }
    .header #beetle-icon-path:hover {
      fill: #9ca4f6;
      transition: .5s fill; }
  .header #beetle-icon-circle {
    fill: transparent; }
  .header #hamburger {
    width: auto;
    height: 36px;
    fill: white;
    transition: .3s all; }
  .header .header-links {
    width: 100vw;
    height: 60vh;
    margin: 25vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header .header-links a {
      font-size: 2em;
      display: block;
      text-align: center;
      color: white;
      transition: all .3s ease-in-out; }
      .header .header-links a:hover {
        color: #9ca4f6;
        transform: scale(1.2); }

/********************** HOME SECTION **********************/
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .home h1 {
    font-weight: 700;
    text-align: center;
    margin: 60px 10px 0;
    padding: 0;
    color: #1e2775; }
  .home .main-points {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5em); }
    .home .main-points h3 {
      width: 100%;
      margin: 0;
      display: inline-block;
      color: #1e2775;
      text-align: center; }
    .home .main-points a:first-of-type {
      grid-column: span 3; }
    .home .main-points a:nth-of-type(3) {
      grid-column: 3; }
  .home .beetle-main {
    margin: 30px 0; }
    .home .beetle-main svg {
      width: 100vw;
      height: auto; }
      .home .beetle-main svg * {
        fill: #1e2775; }
  .home .talking-points {
    text-align: center; }
    .home .talking-points p {
      display: inline-block;
      background: #1e2775;
      color: #ececec;
      margin: 10px;
      padding: 5px; }
  .home .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .home .social-media svg {
      width: 80px;
      height: auto;
      padding: 0 10px;
      transition: transform cubic-bezier(0.62, -0.4, 0.49, 1.01) 0.3s; }
      .home .social-media svg .icon-shadow, .home .social-media svg .icon-circle {
        fill: #1e2775; }
      .home .social-media svg .icon-face {
        fill: #ececec; }
      .home .social-media svg:hover {
        transform: scale(1.2); }

/********************** PORTFOLIO SECTION **********************/
.portfolio .links {
  border-top: none; }
  .portfolio .links a {
    width: 50%; }

.portfolio h2 {
  background: #1e2775;
  color: #ececec;
  padding: 5px;
  border: none; }

/****** WEB ******/
.web {
  padding: 1em .5em; }
  .web .info {
    padding: 0 .5em; }

.portfolio .web .portfolio-images {
  display: block; }
  .portfolio .web .portfolio-images img {
    width: 75vw;
    box-shadow: none;
    transition: cubic-bezier(0.49, -0.12, 0.53, 1.09) 0.3s all; }
    .portfolio .web .portfolio-images img:hover {
      filter: brightness(1.15);
      transition: ease-out 0s all; }

/****** IMAGES ******/
.visual {
  padding: 1em .5em;
  background: linear-gradient(to bottom, #f5f6f7, white); }

.portfolio-images {
  padding: 1em 0;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25) inset;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  text-align: center; }
  .portfolio-images h2 {
    border: none; }
  .portfolio-images.enhance {
    display: block;
    text-align: center; }
  .portfolio-images .full-image {
    width: 75vw;
    height: auto;
    margin: 0 auto; }
  .portfolio-images:hover .left {
    transform: rotate(0);
    transition: .5s ease-out; }
  .portfolio-images:hover .center {
    transform: translateY(0);
    transition: .5s ease-in; }
  .portfolio-images:hover .right {
    transform: rotate(0);
    transition: .5s ease-out; }
  .portfolio-images img {
    width: 100%;
    height: auto;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer; }

.left, .center, .right {
  display: inline-block;
  width: 25vw;
  transition: .25s ease-in-out;
  padding: 5px;
  border-radius: 3px; }

.left {
  transform: rotate(-20deg) translateX(2em) translateY(1em);
  z-index: 2; }

.center {
  transform: rotate(5deg) translateY(0.5em);
  z-index: 1; }

.right {
  transform: rotate(20deg) translateX(-2em) translateY(1em);
  z-index: 0; }

.left:hover, .center:hover, .right:hover {
  filter: brightness(1.15); }

/****** AUDIO ******/
.audio {
  position: relative;
  overflow: hidden;
  padding-bottom: 6em;
  background: linear-gradient(to bottom, #f5f6f7, white); }
  .audio .info {
    padding: 1em .5em; }
  .audio .gretsch {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%); }
  .audio .iframes {
    padding: 0 .5em; }

/********************** ABOUT SECTION **********************/
.about {
  padding: 2em 0; }
  .about .bio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 46px) auto;
    padding: 0;
    margin: 0; }
    .about .bio .jeff-thomas {
      position: relative;
      grid-row: span 3;
      overflow: hidden; }
      .about .bio .jeff-thomas .jeff-thomas-bg {
        height: 100%;
        width: auto; }
      .about .bio .jeff-thomas h2 {
        position: absolute;
        bottom: 5px;
        left: 5px;
        padding: 0;
        margin: 0;
        border: none;
        color: white; }
    .about .bio .title {
      text-align: left;
      padding: 0;
      margin-top: 0;
      margin-left: 10px;
      font-size: 2em;
      grid-column: span 2; }
    .about .bio .highlight {
      font-weight: bold;
      margin: auto 0;
      margin-left: 10px;
      font-size: 1.25em;
      grid-column: span 2;
      grid-row: span 2; }
    .about .bio p {
      padding-top: 0;
      grid-column: span 3; }
  .about .info:last-of-type p {
    padding-top: 0; }
  .about .education {
    padding: 1em 0 2em; }
    .about .education ul {
      padding: 0; }
      .about .education ul li {
        list-style: square outside none;
        padding-bottom: 1em; }
  .about .languages-programs {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80vw;
    margin: 0 auto;
    padding: 3em 1em; }
    .about .languages-programs h2 {
      padding: 0 0 .5em;
      margin-top: 0;
      width: 100%; }
    .about .languages-programs p {
      margin: 0;
      margin-top: .5em; }
    .about .languages-programs .languages h2 {
      padding-right: 0; }
    .about .languages-programs .programs {
      text-align: right; }
      .about .languages-programs .programs h2 {
        padding-left: 0; }
  .about .availability {
    padding-top: 2em; }

/********************** CONTACT SECTION **********************/
.contact {
  padding: 1em .5em; }
  .contact .contact-links {
    padding: 3em 20px;
    font-size: 1.25em; }
    .contact .contact-links .contact-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end; }
      .contact .contact-links .contact-group a {
        display: inline-block;
        margin-left: 20px;
        color: black;
        align-self: center; }
        .contact .contact-links .contact-group a:hover + svg {
          transform: scale(1.2); }
      .contact .contact-links .contact-group svg {
        width: 50px;
        height: auto;
        display: inline-block;
        align-self: center;
        transition: transform cubic-bezier(0.62, -0.4, 0.49, 1.01) 0.3s; }
        .contact .contact-links .contact-group svg .icon-circle {
          fill: #1e2775; }
        .contact .contact-links .contact-group svg .icon-shadow {
          fill: #1e2775; }
        .contact .contact-links .contact-group svg .icon-face {
          fill: #ececec; }

/********************** FOOTER SECTION **********************/
.footer {
  text-align: center;
  padding: .5em; }

@media screen and (min-width: 500px) {
  .section-h1 .beetle-pos {
    clip-path: circle(15vw at 50% 50%); }
    .section-h1 .beetle-pos svg {
      width: 40%; }
  .header.full {
    height: 50px;
    right: 0; }
  .header #beetle-icon {
    width: auto;
    height: 40px; }
  .header .header-links {
    position: fixed;
    left: 0;
    width: calc(100vw - 55px);
    height: auto;
    flex-direction: row;
    align-items: center;
    margin: 0; }
    .header .header-links a {
      font-size: 1.5em; }
  .about .bio {
    grid-template-rows: repeat(3, 60px) auto; } }

@media screen and (min-width: 950px) {
  .section-h1 .beetle-pos {
    clip-path: circle(10vw at 50% 50%); }
    .section-h1 .beetle-pos svg {
      width: 30%; }
  .header .nav-buttons {
    display: none; }
  .header.full {
    height: 50px;
    right: 0; }
  .header #beetle-icon {
    width: auto;
    height: 40px; }
  .header .header-links {
    position: fixed;
    left: 0;
    width: calc(100vw - 55px);
    height: auto;
    flex-direction: row;
    align-items: center;
    margin: 0; }
    .header .header-links a {
      font-size: 1.25em; }
  .about .bio {
    grid-template-rows: repeat(3, 100px) auto; } }
