/********************** BACIS SETUP **********************/
html {
  font-family: 'Raleway', sans-serif; }

h1 {
  text-align: center;
  padding: 0;
  margin: 0; }

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-right: 1em;
  margin-bottom: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px; }

a {
  text-decoration: none;
  padding: 0;
  margin: 0; }

.main {
  min-height: 75vh;
  background: linear-gradient(to bottom, rgba(200, 230, 247, 0), rgba(200, 230, 247, 0.25), rgba(200, 230, 246, 0));
  padding-bottom: 2em; }
  .main h1 {
    padding: 1em;
    margin: 0 1em;
    letter-spacing: 5px; }

.info {
  width: 75vw;
  margin: 0 auto; }
  .info p:first-of-type {
    padding-top: 2em; }
  .info p:last-of-type {
    padding-bottom: 2em; }

/********************** HEADER SECTION **********************/
.header svg {
  width: 90vw;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 1em; }

.links {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between; }
  .links a {
    text-transform: uppercase;
    color: black;
    padding: 1em .5em;
    width: 33%;
    cursor: pointer; }
    .links a:hover {
      background: rgba(224, 224, 224, 0.15); }
    .links a.active {
      background: rgba(224, 224, 224, 0.5); }

/********************** HOME SECTION **********************/
.home {
  padding: 1em .5em; }

/********************** PORTFOLIO SECTION **********************/
.portfolio .links {
  border-top: none; }
  .portfolio .links a {
    width: 50%; }

/****** WEB ******/
.web {
  padding: 1em .5em; }

.portfolio .web .portfolio-images img {
  width: 75vw;
  box-shadow: none;
  transition: cubic-bezier(0.49, -0.12, 0.53, 1.09) 0.3s all; }
  .portfolio .web .portfolio-images img:hover {
    filter: brightness(1.15);
    transition: ease-out 0s all; }

/****** IMAGES ******/
.visual {
  padding: 1em .5em; }

.portfolio-images {
  background: linear-gradient(to bottom, #4d0a99, #3fb9ff);
  padding: 1em 0;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25) inset;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  text-align: center; }
  .portfolio-images h2 {
    border: none; }
  .portfolio-images.enhance {
    display: block;
    text-align: center; }
  .portfolio-images .full-image {
    width: 75vw;
    height: auto;
    margin: 0 auto; }
  .portfolio-images:hover .left {
    transform: rotate(0);
    transition: .5s ease-out; }
  .portfolio-images:hover .center {
    transform: translateY(0);
    transition: .5s ease-in; }
  .portfolio-images:hover .right {
    transform: rotate(0);
    transition: .5s ease-out; }
  .portfolio-images img {
    width: 100%;
    height: auto;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer; }

.left, .center, .right {
  display: inline-block;
  width: 25vw;
  transition: .25s ease-in-out;
  padding: 5px;
  border-radius: 3px; }

.left {
  transform: rotate(-20deg) translateX(2em) translateY(1em);
  z-index: 2; }

.center {
  transform: rotate(5deg) translateY(0.5em);
  z-index: 1; }

.right {
  transform: rotate(20deg) translateX(-2em) translateY(1em);
  z-index: 0; }

.left:hover, .center:hover, .right:hover {
  filter: brightness(1.15); }

.portfolio .visual {
  margin-bottom: 5em; }

/****** AUDIO ******/
.audio {
  position: relative;
  overflow: hidden; }
  .audio .info {
    padding: 1em .5em; }
  .audio .gretsch {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%); }
  .audio .iframes {
    padding: 0 .5em; }

/********************** ABOUT SECTION **********************/
.about {
  padding: 1em .5em; }
  .about .jeff-thomas {
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 1em;
    padding-bottom: 5px; }
    .about .jeff-thomas img {
      width: 30vw;
      height: auto;
      display: block; }
    .about .jeff-thomas h2 {
      position: absolute;
      bottom: 5px;
      left: 5px;
      border: none;
      color: white; }
  .about .bio {
    padding: 0;
    margin: 0; }
    .about .bio h2 {
      margin-top: 0; }
    .about .bio p {
      padding-top: 0; }
  .about .info:last-of-type p {
    padding-top: 0; }
  .about .education ul {
    padding: 0; }
    .about .education ul li {
      list-style: square outside none;
      padding-bottom: 1em; }
  .about .languages-programs {
    background: linear-gradient(to top, #4d0a99, #3fb9ff);
    border-radius: 3px;
    box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.5);
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80vw;
    margin: 0 auto;
    padding: 1em; }
    .about .languages-programs h2 {
      padding: 0 0 .5em;
      margin-top: 0;
      width: 100%; }
    .about .languages-programs p {
      margin: 0;
      margin-top: .5em; }
    .about .languages-programs .languages h2 {
      padding-right: 0; }
    .about .languages-programs .programs {
      text-align: right; }
      .about .languages-programs .programs h2 {
        padding-left: 0; }
  .about .availability {
    padding-top: 2em; }

/********************** CONTACT SECTION **********************/
.contact {
  padding: 1em .5em; }
  .contact form {
    background: linear-gradient(to top, #4d0a99, #3fb9ff);
    border-radius: 3px;
    box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0 0 1em;
    margin-bottom: 4em; }
    .contact form h4 {
      text-transform: uppercase;
      margin: 0;
      padding: 1em 1em 0; }
    .contact form p {
      padding-left: 1em;
      margin: 0;
      margin-bottom: 1em; }
    .contact form input, .contact form textarea {
      width: 100%;
      border: none;
      padding: .5em 0;
      border-bottom: 2px solid #10d9e7;
      background: white;
      text-align: center; }
      .contact form input:focus, .contact form textarea:focus {
        outline: none;
        border-bottom: 2px solid #ffbb00; }
    .contact form #submit {
      background: #3fb9ff;
      width: 75%;
      display: block;
      margin: 0 auto;
      border-bottom: 2px solid #0ea1b4;
      color: white; }
      .contact form #submit:hover {
        background: #00e1ff;
        cursor: pointer; }
  .contact fieldset {
    border: none; }
  .contact .contact-links {
    background: linear-gradient(to top, #4d0a99, #3fb9ff);
    border-radius: 3px;
    box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.5);
    color: white;
    min-width: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding-bottom: 1em; }
    .contact .contact-links h3 {
      grid-column: span 2;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.5em; }
    .contact .contact-links p {
      margin: .25em; }
    .contact .contact-links .right-text {
      text-align: right;
      padding-right: .5em; }
    .contact .contact-links a {
      color: white; }

/********************** SOCIAL MEDIA SECTION **********************/
.social-media {
  text-align: center; }
  .social-media svg {
    width: 20vw;
    height: auto;
    padding: 0 .5em; }

/********************** FOOTER SECTION **********************/
.footer {
  text-align: center;
  padding: .5em; }
