/********************** ABOUT SECTION **********************/
.about {
  padding: 2em 0;
  .bio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 46px) auto;
    padding: 0;
    margin: 0;
    .jeff-thomas {
      position: relative;
      // float: left;
      // padding-right: 1em;
      // padding-bottom: 5px;
      grid-row: span 3;
      overflow: hidden;
      .jeff-thomas-bg {
        height: 100%;
        width: auto;
      }
      h2 {
        position: absolute;
        bottom: 5px;
        left: 5px;
        padding: 0;
        margin: 0;
        border: none;
        color: white;
      }
    }
    .title {
      // text-align: left;
      padding: 0;
      margin-top: 0;
      margin-left: 10px;
      font-size: 2em;
      grid-column: span 2;
      width: 25%;
      text-align: center;
      @include h2-sub-title();
    }
    .highlight {
      font-weight: bold;
      margin: auto 0;
      margin-left: 10px;
      font-size: 1.25em;
      grid-column: span 2;
      grid-row: span 2;
    }
    .lowlight {
      grid-column: span 3;
    }
    p {
      padding-top: 0;
      grid-column: span 3;
    }
  }
  .info:last-of-type {
    p {
      padding-top: 0;
    }
  }
  .education {
    padding: 1em 0 2em;
    h2 {
      @include h2-sub-title();
    }
    ul {
      li {
        list-style: square outside none;
        padding-bottom: 1em;
      }
    }
    
  }
  .languages-programs {
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    padding: 3em 1em;
    h2 {
      // background: white;
      margin-top: 0;
      width: 100%;
      @include h2-sub-title();
      // padding: 0 0 .5em;
      text-align: center;
      width: auto;
    }
    p {
      margin: 0;
      margin-top: .5em;
    }
    .languages {
      h2 {
        padding-right: 0;
      }
    }

    .programs {
      text-align: right;
      h2 {
        padding-left: 0;

      }
    }
  }
  .availability {
    padding-top: 2em;
    h2 {
      @include h2-sub-title();
    }
  }
}