/********************** HEADER SECTION **********************/
.header {
  // position: fixed;
  // width: 100vw;
  // height: 50px;
  // padding-top: 10px;
  // z-index: 100;
  // background: darken($color: $secondary, $amount: 15%);
  // color: black;
  // transition: height .5s;
  // display: grid;
  // grid-template-rows: auto 1fr;

  
  position: fixed;
  right: -5px;
  top: -5px;
  width: 55px;
  height: 55px;
  padding: 10px;
  background: darken($color: $secondary, $amount: 15%);
  border-radius: 50%;
  transition: all .3s;

  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 100;
  
  .nav-buttons {
    position: fixed;
    right: 15px;
    top: 15px;
  }
  &.full {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    display: block;
  }

  svg {
      fill: white;
    // #beetle-icon-path {
    //   fill: white;
    //   &:hover {
    //     fill: lighten($color: $primary, $amount: 20%);
    //     transition: .5s fill;
    //   }
    // }
    #beetle-icon-circle {
      fill: none;
    }
    width: auto;
    height: 36px;
  }
  .bun {
    float: right;
    height: 6px;
    padding: 15px;
    cursor: pointer;
    &:hover .hamburger:after, &:hover .hamburger:before {
      background: lighten($color: $primary, $amount: 20%);
    }
    &:hover .hamburger {
      background: lighten($color: $primary, $amount: 20%);
    }
    &:hover .hamburger.exposed {
      background: none;
    }
  }
  .hamburger {
    position: relative;
    transform: translateY(50%);
    width: 40px;
    height: 3px;
    background: white;
    transition: all .5s cubic-bezier(0.63,-0.48, 0.39, 1.6);
    border-radius: 3px;
    &:after, &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background: white;
      transition: .5s;
      border-radius: 3px;
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
    &.exposed {
      background: none;    
      &:before, &:after {
        top: 0;
        height: 3px;
      }
      &:before {
        transform: rotate(135deg);
      }
      &:after {
        transform: rotate(-135deg);
      }
    }
  }
  .header-links {
    width: 100vw;
    height: 45vh;
    margin: 25vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      font-size: 2em;
      display: block;
      text-align: center;
      color: white;
      transition: color .5s;
      &:hover {
        color: lighten($color: $primary, $amount: 20%);
      }
    }
  }
}