/********************** HOME SECTION **********************/
.home {
  background: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-weight: 700;
    text-align: center;
    margin: 60px 10px 0;
    padding: 0;
    color: $secondary;
  }
  .main-points {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .5em);
    // background: pink;
    h3 {
      width: 100%;
      margin: 0;
      display: inline-block;
      color: $secondary;
      text-align: center;
    }
    a {
      &:first-of-type {
        grid-column: span 3;
      }
      &:nth-of-type(3) {
        grid-column: 3; 
      }
    }
  }
  .beetle-main {
    margin: 30px 0;
    svg {
      width: 100vw;
      height: auto;
      * {
        fill: $secondary;
      }
    }
  }
  .talking-points {
    text-align: center;
    p {
      display: inline-block;
      background: $secondary;
      color: $background;
      margin: 10px;
      padding: 5px;
    }
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    svg {
      width: 80px;
      height: auto;
      padding: 0 10px;
      .icon-shadow, .icon-circle {
        fill: $secondary;
      }
      .icon-face {
        fill: $background;
      }
      &:hover {
        transform: scale(1.2);
      }
      transition: $scaleTrans;
    }
  }
}