@media screen and (min-width: $break-medium) {
  //BASIC
  .section-h1 {
    .beetle-pos {
      clip-path: circle(15vw at 50% 50%);
      svg {
        width: 40%;
      }
    }
  }

  .main {
    border-radius: 0 0 10px 10px;
  }

  //HEADER
  .header {
    &.full {
      height: 50px;
      right: 0;
    }
    #beetle-icon {
      width: auto;
      height: 40px;
    }
    .header-links {
      &.show {
        position: fixed;
        left: 0;
        width: calc(100vw - 55px);
        height: auto;
        flex-direction: row;
        align-items: center;
        margin: 0;
        a {
          font-size: 1.5em;
        }
      }
    }
  }
  //HOME
  .home {
    .beetle-main {
      svg {
        height: 200px;
        width: 100%;
      }
    }
  }
  //PORTFOLIO
  //ABOUT
  .about {
    .bio {
      grid-template-rows: repeat(3, 60px) auto;
    }
  }
  //CONTACT
  //FOOTER
}